SECRET_PROVIDER=VAULT
VAULT_ADDR=https://vault.platform.svc:8200
VAULT_KV_MOUNT=secret
VAULT_KUBERNETES_MOUNT=kubernetes
VAULT_KUBERNETES_ROLE=ailss-service
VAULT_KUBERNETES_JWT_PATH=/var/run/secrets/kubernetes.io/serviceaccount/token
