EXPO_PUBLIC_AILSS_ENV=development
# Set a Gateway origin explicitly. iOS simulator: http://127.0.0.1:8080
# Android emulator: http://10.0.2.2:8080; physical device: http://<host-LAN-IP>:18080.
EXPO_PUBLIC_AILSS_API_BASE_URL=
